NODE_ENV=development
HOST=0.0.0.0
PORT=3333
LOG_LEVEL=info
APP_KEY=EXAMPLEKEYREPLACEWITHOWN

DB_HOST=network
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

CAS_BASE_URL=https://login.cs.vt.edu/cas
CAS_SERVICE_URL=https://webcatmaxxers.discovery.cs.vt.edu/api/auth/cas/callback
FRONTEND_URL=https://webcatmaxxers.discovery.cs.vt.edu

# set up as an aws drive
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=EXAMPLE_PASSWORD
AWS_REGION=us-east-1
S3_BUCKET=data
S3_ENDPOINT=http://minio:9000
